{% extends "base.html" %}

{% block content %}
<div class="row mt-3 mb-3 p-3" style="background-color: #0075A2 !important">
    <div class="col-sm-12">
        <h2 class="text-center">Postavy ze světa zaklínače</h2>
    </div>
</div>
<div class="row">
    {% for profession in professions %}
    <div class="col-sm-4">
        <div class="card">
            {% if profession.poster %}
            <img class="card-img-top" src="{{ profession.poster.url }}" alt="{{ profession.title }}">
            {% endif %}
            <div class="card-body">
                <p class="card-text"><strong>Postava:</strong> {{ profession.name }}</p>
                <p class="card-text"><strong>Rasa:</strong> {{ profession.race.race }}</p>
                <button type="button" id="showPopis" class="btn btn-primary">Podrobnosti</button>
                <div id="popis" style="padding-top: 10px; display: none">
                    {{profession.description}}
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 text-center">
                        <a href="{% url 'profession-update' profession.pk %}" class="btn btn-primary">Upravit</a>
                        <a href="{% url 'profession-delete' profession.pk %}" class="btn btn-danger">Smazat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-12">
        <strong>Celkový počet postav:</strong> {{ num_professions }}
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-12 text-center">
        <a href="{% url 'profession-create' %}" class="btn btn-success">Nová postava</a>
    </div>
</div>
<script>
    let karty = document.querySelectorAll(".card");
    karty.forEach(karta => {
        let tlacitko = karta.querySelector("#showPopis");
        let x = karta.querySelector("#popis");
        tlacitko.addEventListener("click", () => {
            if (x.style.display === "none") {
                 x.style.display = "block";
            }
            else {
                 x.style.display = "none";
            }
        })
    })
</script>
{% endblock %} 