{% extends "base.html" %}

{% block content %}
<div class="row mt-3 mb-3 p-3" style="background-color: #0075A2 !important">
    <div class="col-sm-12">
        <h2 class="text-center">Obrázky</h2>
    </div>
</div>
<div class="row">
    {% for attachment in attachments %}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>Titulek:</strong> {{ attachment.title }} </p>
                {% if attachment.file %}
                <img class="card-img-top" src="{{ attachment.file.url }}" alt="{{ attachment.title }}">
                {% endif %}
                <p class="card-text"><strong>Profese:</strong> {{ attachment.profession.profession }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-12">
        <strong>Celkový počet obrázků:</strong> {{ num_attachments }}
    </div>
</div>
{% endblock %} 